<style>
 body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      overflow: hidden;
      font-family: Arial, sans-serif;
    }
 .video-bg {
      position: fixed;
      top: 0;
      left: 0;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover; 
      z-index: -1; 
    }
 a#dl-banner-300x250,
 a#dl-banner-728x90,
 td.topad {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
 }
</style>
